<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin GPA</title>
</head>
<body>
    <h1>Display GPAs Greater than or Equal to</h1>
    <form action="/processAdminGPA" method="post">
        <label><strong>GPA: </strong><input type="text" name="gpa"></label><br><br><br>
        <input type="submit" value="Submit Request">
    </form>
    <hr>
    <%- homeURL %>
</body>
</html>