<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Summer Camp</title>
</head>

<body>
	<h1>Welcome to Terps Summer Camp</h1>
	<h2>Applicant</h2>
	<ul>
		<li>To apply select <a href="/apply">Application</a></li>
		<li>To review an application select <a href="/reviewApplication">Review Application</a></li>
	</ul>
	<hr>
	<h2>Admin</h2>
	<ul>
		<li>To select users based on gpa <a href="/adminGPA">Select by GPA</a></li>
		<li>To remove all applications <a href="/adminRemove">Remove All Applications</a></li>
	</ul>
	<hr>
</body>

</html>