<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Removed</title>
</head>
<body>
    <h1>Removal of All Application</h1>
    <%- message %>
    <br><br>
    <%- homeURL %>
</body>
</html>