<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Result</title>
</head>
<body>
    <h1>Display GPAs Greater than or Equal to</h1>
    <table style="border: 1px solid black">
        <tr>
            <th style="border: 1px solid black"><strong>Name</strong></th>
            <th style="border: 1px solid black"><strong>GPA</strong></th>
        </tr>
        <%- rows %>
    </table><br><br>
    <%- homeURL %>
</body>
</html>