<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Application</title>
</head>
<body>
    <h1>Review Application</h1>
    <form action="/processReviewApplication" method="post">
        <fieldset>
            <label><strong>Email Address: </strong><input type="text" name="email"></label><br><br>
        </fieldset>
        <br>
        <input type="reset">
        <input type="submit" value="Submit Request">
    </form>
    <hr>
    <%- homeURL %>
</body>
</html>